/* Gobal */
body {
    background: url(../img/polaroid.png)
}
/*Layout*/
.container {
    width: 1000px;
    margin: auto;
}



.info {
    background: #D1DFE4;
    padding-left: 20px;
    display: block;
}

.me {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-left: 287px;
}

.icon {
    width: 50px;
    height: 50px;
}

input {
    display: block;
}


/*Typography*/
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #F34A53;
    letter-spacing: .05em;
    text-align: center; 
}

h2 {
    font-family: 'Carrois Gothic SC', sans-serif;
    color: navy;
    font-size: 30px;
    border-bottom: 2px solid #33D3D6;
}

p {
    font-family: 'Merriweather', serif;
}

footer {
    font-family: 'Carrois Gothic SC', sans-serif;
    color: grey;
    font-size: 15px;
    text-align: center;
}

/*Navagation*/
a:hover {
    background: aliceblue;
    border-radius: 10px;
    color: navy;
    width: 100px;
}
a:link, a:visited {
    text-decoration: none;
}

a {
    display: block;
    color: black;
    height: 50px;
    width: 100px;
}

ul {
    margin-top: 0;
}

.nav {
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    height: 55px;
    padding-top: 20px;
    min-width: 350px;
    text-align: center;
    
}

.navbox {
    background: #D1DFE4;
    border-radius: 10px;
    height: 30px;
    padding-bottom: 40px;
    margin-top: 20px;
    overflow: hidden;
}

li {
    display: inline-block;
}

/*portfolio*/
/* img { 
    width: 1000px;
    height: 1000px;
}*/

.tb {
    width: 50px;
    height: 50px;
}

.lb-prev,
.lb-next,
.lb-close {
    display: inline-block;
}
.lb-album{
  width: 50%;
	margin: 0 auto;
}

.lb-album li {
	float: left;
	list-style: none;
  margin: 10px;
  position: relative;
}

.lb-album li > a,
.lb-album li > a img {
	display: block;
}

/* Overlay */
.lb-overlay{
	background: url(../img/white.png);  
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 999;
	text-align: center;
}

.lb-overlay img{
	max-height: 100%;
	position: relative;
}

.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
}

/* Transitions or Animations */
/* Customize This */
.lb-overlay:target img {
	animation: fadeIn .5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}